exportPattern("^[[:alpha:]]+")

importFrom("graphics", "plot")
importFrom("stats", "density", "optim", "qbeta", "qgamma", "rbeta",
             "rgamma", "runif")
importFrom("rootSolve", "multiroot")
